body {
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    height: 100%;

    opacity: 0.3;
    background-size: 100vw 100vh;
    background-image: url("imagen-fondo-moonify.jpg");
    background-size: cover;
    
}


header {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    z-index: 1;
    height: 18%;
    width: 98%;
}

.header__a {
    margin-left: 3%;
}

.header__a img {
    width: 11rem;
}

header nav {
    display: flex;
    flex-direction: row;
    margin-right: 2%;
    width: 50rem;
    font-family: 'Rubik', sans-serif;
    justify-content: center;
    text-align: center;
}

header nav button {
    background: transparent;
    color: white;
    border: 0;
    width: 10rem;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 10px;
}

header nav button:hover {
    cursor: pointer;
    background: rgba(128, 128, 128, .5);
    transition: 0.3s;

}

header nav ul {
    display: none;
}

header nav a {
    text-decoration: none;
    background: white;
    color: black;
    border: 0;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    padding-top:1rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 10px;
    text-align: center;
}

header nav a:hover {
    background-color: rgb(223, 223, 223);
    transition: 0.3s;
}

#icono-menu {
    display:none;

}

.div-header-responsive {
    display:none;
}

.div-header-repsonsive button{
    background: transparent;
    color: white;
    border: 0;
    width: 10rem;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 10px;
}

.main-content {
    color: white;
    margin-top: 8%;
    margin-left: 10%;
    width: 50%;
    height: 78%;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 15%;
}

.main-content h1{
    font-size: 6.5rem;
    margin: 0;
    margin-bottom: 2rem;
}
.main-content p{
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 2rem;
}

.main-content a {
    text-decoration: none;
    background: white;
    color: black;
    border: 0;
    font-size: 1.5rem;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
}

.main-content a:hover {
    background-color: rgb(223, 223, 223);
    transition: 0.3s;
}

#a-login {
display:none;
}


.article-info {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    width: 80%;
    height: 100vh;
    margin-bottom: 2%;
}

#article-rising {
    background-image: url("rising-fondo-opacidad.png");
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 8px;
    font-family: 'Rubik', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 70%;
    margin-right: 1%;
    padding: 0;
    
}


#article-rising:hover {
    cursor: pointer;
    --box-shadow-color: 70,78,55;
    background-image: url("rising-fondo-opacidad-hover.png");
    box-shadow: 0 0 40px 3px rgb(94, 94, 94);
    transition: 0.4s;
}

#article-rising img {
    margin: 10%;
}

.rising-content {
    width: 90%;
    padding: 5%;
}

.rising-content h3 {
    font-size: 1.2rem;
}


#article-rising a {
    color: white;
    text-decoration: none;
}

#article-music {
    background-image: url("music-fondo-opacidad.png");
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 8px;
    font-family: 'Rubik', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 70%;
    margin-left: 1%;
    padding: 0;
    
}

#article-music:hover {
    cursor: pointer;
    --box-shadow-color: 70,78,55;
    background-image: url("music-fondo-opacidad-hover.png");
    box-shadow: 0 0 40px 3px rgb(94, 94, 94);
    transition: 0.4s;
}


.music-content {
    width: 90%;
    padding: 5%;
}

.music-content h3 {
    font-size: 1.2rem;
}


#article-music a {
    color: white;
    text-decoration: none;
}


.article-sound {
    color: white;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.sound-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.sound-text h1 {
    font-size: 3rem;
}

.sound-text p {
    font-size: 1.2rem;
    width: 80%;
}

.sound-cards {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    width: 80%;
    height: 100vh;
    margin-bottom: 2%;
}

.card-sound {
    border-radius: 8px;
    font-family: 'Rubik', sans-serif;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 40%;
    margin-left: 1%;
    padding: 0;
    
}

.card-sound:hover {
    cursor:pointer;
    background-color: rgb(34, 34, 34);
}

#video:hover {
  
}

.subtext-sound {
    display: flex;
    flex-direction: row;
}